params.reads = null  // Input FASTQ files
params.outdir = "$baseDir/results" // Output directory
params.cpus = 2 // Number of CPUs for each process

process {
    withName: fastp {
        container = 'quay.io/biocontainers/fastp:0.23.2--h79da9fb_0' // Use the latest version of fastp
        cpus = params.cpus
    }

    withName: megahit {
        container = 'quay.io/biocontainers/megahit:1.2.9--h2e03b76_1'  // Use the latest version of megahit
        cpus = params.cpus
    }

    withName: seqkit {
        container = 'quay.io/biocontainers/seqkit:2.3.0--h9ee0642_0' // Use the latest version of seqkit
        cpus = params.cpus
    }

    memory = '2 GB'     // Default memory for each process
    time = '1h'       // Default time for each process  
}

profiles {
    docker {
        docker.enabled = true
    }
}
